<%= turbo_frame_tag dom_id(task) do %>
<div class="card">
  <div class="card-body">
    <h5 class="card-title"><%= task.category %> - <%= task.title %></h5>
    <p class="card-text"><%= task.description %></p>
  </div>
</div>

<div style="diplay:inline">
  <%=link_to 'Edit this task', edit_task_path(task), class: 'btn btn-primary' %>
  <%=button_to "Destroy this task", task, class: 'btn btn-danger', method: :delete %>
</div>

<% end %>
<hr />
